# SPDX-FileCopyrightText: 2016-2023 Unisoc (Shanghai) Technologies Co., Ltd
# SPDX-License-Identifier: LicenseRef-Unisoc-General-1.0
import /vendor/etc/init/hw/init.ram.gms.rc
import /vendor/etc/init/hw/init.ram.native.rc
import /vendor/etc/init/hw/init.zramwb.rc
